@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    padding: 0;
    margin: 0;
}
header{
    background-color:#2874f0;
    border: 2px solid red;
    font-family: 'Merriweather', serif;
}
nav ul{
    height: 58px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
/* ye mene likha tha  */
nav ul li{      
    list-style: none;     
    color: white;
    padding: 0 23px;
    
}
nav ul li a{          
    color: white;
    text-decoration: none;
}
nav ul li a:hover{          
    /* color: rgb(202, 52, 52);
    text-decoration: none; */
    font-weight: bold;
}


nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 25px;
}
.search{
    display: flex;
    align-items: center;
    
}
/* .searc:hover{
    font-weight: bold;
} */
.search input{
    width: 30vw;
    height: 30px;
    border-radius: 2px;
    margin: 0 200px;
    padding: 0 12px;
    
} 
.container{
  min-height: calc(100vh - 58px - 12vh);
}
.slider{
   width: 80vw;
   margin: 12px auto;
   overflow: hidden;
}
.card{
    background-color: white;
    max-width: 90vw;
    margin: 37px auto;
}
.cards{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    overflow:scroll;
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}
.card h2{
    font-family: Roboto,Arial,sans-serif;
}
.lines h3{
    color: red;
}

footer{
    height: 12vh;
    background-color:#172337;
    color: #dfeafd;
    font-family: 'Mochiy Pop P One', sans-serif;
}