@media screen and (max-width:1000px) {
    body{
        background-color: aqua;

    }
    nav{
       flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        justify-content: center;
    }
    .slider{
        height: 23vh;
    }
    .search{
        justify-content: center;
      
    }
    .search input{
        margin: 12px 16px;
    }
    nav ul{
        height: 34px;
        }
        .card-item img{
            width: 130px;
        }

}