.flex-all-center{
    display:flex ;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 5px 10px;
    background-color: rgb(30, 117, 194);
    color: rgb(235, 235, 235);
    border: 2px solid wheat;
}
.btn:hover{
    font-weight: bold;
    cursor: pointer;
}
.my-2{
    margin: 26px 0;
}
.text-center{
    text-align: center;
}
.my-1{
    margin: 5px 0;

}